<launch>



    <rosparam file="$(find diff_drive)/config/joint_states.yaml" command="load"/>

    <rosparam file="$(find diff_drive)/config/diff_drive.yaml" command="load"/>

    <node name="robot_arm_controller_spawner" pkg="controller_manager" type="spawner"
          respawn="true" output="screen"
          args="/Diff_Drive/joint_state_controller
         /Diff_Drive/diff_drive_controller"/>

    <rosparam file="$(find robopi_hardware_interface)/config/hardware.yaml" command="load"/>

    <arg name="node_start_delay" default="5.0" />
    <node name="actuator_interface" pkg="robopi_hardware_interface" type="actuator_interface_node" output="screen"/>


</launch>




